<div class="row">

  <div class="chat">
    {{input action="addMessage"}}

    <div class="message">
      Message one
    </div>

    <div class="message">
      Message two
    </div>

  </div>
</div>
