<div class="row">

  <div class="chat">
    {{input action="addMessage"}}

    {{#each model as |message|}}
      <div class="message">
        {{message.body}}
      </div>
    {{/each}}

  </div>
</div>
